<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Welcome to Spring Security Thymeleaf tutorial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <style>
    body {
      background-color: #333;
      color: #fff;
    }

    .header {
      background-color: #222;
      padding: 20px;
    }

    .header h1 {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
    }

    .header p {
      color: #ccc;
      font-size: 16px;
    }

    .card {
      background-color: #222;
      border: none;
      color: #fff;
    }

    .card-header {
      background-color: #333;
      border: none;
      color: #fff;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
    }

    .card-body {
      padding: 20px;
    }

    .btn {
      background-color: #555;
      border-color: #555;
      color: #fff;
    }

    .btn:hover {
      background-color: #777;
      border-color: #777;
    }

    .featurette-divider {
      border-color: #888;
    }

    .featurette h2 {
      font-size: 28px;
      font-weight: bold;
    }

    .featurette p {
      font-size: 16px;
      color: #ccc;
    }

    .featurette img {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>

<div th:fragment="header" class="header">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Weekly Workout Plan</h1>
    <p class="fs-5 text-muted">The presented workout program is an example of a triple split for mass gain in the gym. In other words, the program involves three powerful strength workouts per week, each targeting a specific muscle group.

      It should be noted that this mass gain workout program is more suitable for advanced mesomorph athletes rather than beginners, as it includes not only basic exercises but also isolating exercises. Additionally, the program requires a high level of endurance and gym training experience.</p>
  </div>
</div>

</div>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
  <div class="d-flex justify-content-between">
    <p class="my-3">
      <a href="/exercises">
        <button type="button" class="btn btn-primary">Exercises</button>
      </a>
    </p>
  </div>
</div>

<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Day 1</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Day 1<small class="text-muted fw-light">: Chest, Biceps, Legs</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>The first day of the workout program focuses on two major muscle groups of the body — chest and legs. It should be noted that if you have the opportunity to go to the gym four times a week, it's better to allocate a separate leg workout.</li>
          </ul>
          <form action="/user/one">
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">More Details</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Day 2</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Day 2<small class="text-muted fw-light">: Shoulders, Triceps</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>The second day of the workout program focuses on the upper half of the body. The goal is to work the muscles that give the body mass. Well-developed and round shoulders will make your figure broader, while a well-developed triceps will increase the size of your arms, visually widening the biceps.</li>
          </ul>
          <form action="/user/two">
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">More Details</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Day 3</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Day 3<small class="text-muted fw-light">: Back and Abs</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>The final day of the training focuses on working out the back and abs. Upper back exercises like lat pulldowns and pull-ups develop the latissimus dorsi muscles, while dumbbell rows and seated cable rows add thickness to the back. The program may also include deadlifts.</li>
          </ul>
          <form action="/user/three">
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Learn More</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<main>
  <div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2><span class="text-muted">WELCOME TO ATLANT</span></h2>
        <p class="lead">
          ATLANT is your results-driven fitness center. Here, on a territory of 5,000 square meters of sports facilities, you will find everything you need to achieve your personal goals. Your journey will be interesting and sometimes challenging, but if you dare to start right now, your reward will be your best version of yourself!
          You - the one you've always dreamed of. We - for a developed and healthy body, for those who are active and determined. Day by day, we develop and improve our business, expanding our network and enhancing the quality of our services.
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://novy.tv/wp-content/uploads/sites/96/2020/12/iStock-1132086660.jpg" alt="" width="500" height="300">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2><span class="text-muted">Fitness Center No. 1</span></h2>
        <p class="lead">
          ATLANT is a rapidly growing network throughout Ukraine. It's a unique project. The 5,000 square meters of sports facilities combine gymnasiums, functional zones, fitness and martial arts halls, equipped with Finnish saunas, fitness bars, administrative and sports premises. Convenient working hours and reasonable prices. This and much more - NoName FITNESS!
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://klike.net/uploads/posts/2022-09/1664519202_j-2.jpg" alt="" width="500" height="300">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2><span class="text-muted">Gym</span></h2>
        <p class="lead">
          ATLANT is a professionally equipped gym where everyone can find what they need. We offer a wide selection of exercise machines from leading global manufacturers. Join the NoName FITNESS team and reach a new level of physical fitness!
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://bigfoto.name/uploads/posts/2021-12/thumbs/1640319645_55-bigfoto-name-p-sport-zal-v-stile-loft-90.jpg" alt="" width="500" height="300">
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</main>
<p class="my-3"><a href="/login" button type="button" class="btn btn-primary btn-neon">Log Out</button></a></p>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">© 2023 Atlant. All rights reserved</small>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-mv7mk8bGp26+hQ5I9A6j+v5n5VHCbF8YsC5UZ5Fq4toRi04P8aBvnuoF6OeaHYXp" crossorigin="anonymous"></script>
</body>
</html>