<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Welcome to Spring Security Thymeleaf tutorial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">

    <header th:insert="body_admin"></header>
</div>


<div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">

    <header th:insert="body_user"></header>
</div>

</body>

</html>

